#:schema https://json.schemastore.org/any.json

env_files = []
root = "."
tmp_dir = "tmp"

[build]
  bin = "tmp/main"
  cmd = "go build -o tmp/main ./app"
  delay = 1000
  exclude_dir = ["tmp", "vendor"]
  include_ext = ["go"]
  log = "tmp/build-errors.log"

[env]
  AIR_MODE = "true"
  CGO_ENABLED = "0"

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  app_start_timeout = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true